<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">
  <div class="header-logo" fxFlexAlign="center">
    <span>Leave Manager</span>
  </div>
  <nav class="header-navigation" fxFlexAlign="center">
    <ul class="header-list" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1.5rem">
      <li class="header-item" routerLinkActive="active" *ngIf="userExist && !admin">
        <a href="#" class="header-link" role="button" [routerLink]="['user', userId, 'detail']">
          User
        </a>
      </li>
      <li class="header-item" routerLinkActive="active" *ngIf="admin">
        <a href="#" class="header-link" routerLink="user/list">
          Users
        </a>
      </li>
      <li class="header-item" routerLinkActive="active" *ngIf="userExist && !admin">
        <a href="#" class="header-link" role="button" [routerLink]="['leave', userId, 'apply']">
          Leave Application
        </a>
      </li>
      <li class="header-item" fxFlexAlign="center" *ngIf="userExist">
        <button class="account-btn"
        mat-icon-button
        [matMenuTriggerFor]="menu" matTooltip="Account">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" yPosition="below">
          <button mat-menu-item routerLinkActive="active" *ngIf="admin">Manage Leave</button>
          <button mat-menu-item (click) = "onLogout()">Log out</button>
        </mat-menu></li>
    </ul>
  </nav>
</mat-toolbar>

